.footer
  position: fixed
  bottom: 0
  width: 100%
  height: 350px
  z-index: -100
  background-color: $primary
  color: $white
  .title
    color: $white
  a
    color: $white
  address
    +tablet
      text-align: right
    .icon
      +mobile
        margin-right: 0.75em
      +tablet
        margin-left: 0.75em
        float: right

main
  box-shadow: 0 -15px 40px 20px rgba(0,0,0,0.8)
  background-color: $white
  margin-bottom: 350px
  min-height: 100vh
