            <div class="subtitle is-6">
                {{ with $.Site.GetPage "section" .Section }}{{ .Title }}{{ end }}
                <small>
                    &nbsp;|&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;<time>{{ .PublishDate.Format "02.01.2006" }}</time>&nbsp;
                    <i class="fa fa-pencil"></i>&nbsp;{{ .Lastmod.Format "02.01.2006" }}&nbsp;
                    <i class="fa fa-clock-o"></i>&nbsp;{{ .ReadingTime }}min read&nbsp;
                </small>
            </div>
